.comp-dialog{
  @media (min-width: 992px) {
    width:880px !important;
  }
  &-title-wrapper{
    background-color: #f5f5f5;
    padding:8px 26px;
    display: flex;
    justify-content: space-between;
  }
}
.layui-layer-content{
  border-radius: 4px;
  overflow: hidden !important;
  @media (max-width: 992px) {
    max-height: 570px;
  }
}

