@import "../baseVariable";
.layout-nav-container{
  height:70px;
  background-color: #fff;
  padding:0 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-btn{
    line-height: 70px;
    padding:0 25px;
    &.active{
      background-color: #FAFAFA;
      color:$baseColor;
    }
    &:hover{
      background-color: #FAFAFA;
    }
  }
  .layout-login-btn{
    height:30px;
    padding:0 10px;
    border:1px solid #666;
    border-radius: 4px;
    position: relative;
    .more-img{
      height:5px;
      width:8px;
      margin-left: 5px;
      transition:.3s all ease-out;
    }
    &.show-more{
      .more-img{
        transform: rotate(180deg);
      }
    }
    .user-logo{
      height:41px;
      width:41px;
      border-radius: 41px;
    }
  }
}
.layout-login-box{
  position:absolute;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  width: 150px;
  right: 0px;
  top: 38px;
  background-color: #fff;
  display: none;
  z-index: 99999;
  li{
    &:last-child{
      border-bottom: none;
    }
  }
  &-row{
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#666;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    &:active{
      background-color: #f5f5f5;
    }

  }
  &-row-icon{
    margin-right: 15px;
  }
}
.user-center-box{

}
.layout-login-user-info{
  position: relative;
  .more-img{
    height:5px;
    width:8px;
    margin-left: 5px;
    transition:.3s all ease-out;
  }
  &.show-more{
    .more-img{
      transform: rotate(180deg);
    }
  }
  .user-logo{
    height:41px;
    width:41px;
    border-radius: 41px;
  }

}
.login-yet{
  .layout-login-box{
    top:48px;
  }
}
.border-bottom-none{
  border-bottom:none;
}