
.buy-ticket-container{
  width: 100%;
  background-color: #fff;
  display: flex;
  padding: 50px 70px;
  margin-top: 20px;
  margin-bottom: 80px;
  border:1px solid #E6E6E6;

  @media (max-width: 992px){
    flex-direction: column;
    padding:0px;
    background-color: rgba(0,0,0,0);
    margin: 10px 0px;
    border: none;
    .buy-ticket-container-help-btn{
      flex: 1;
      //margin-top: 20px;
      margin: 10px 10px;
    }
  }

  &-searchBox{
    flex: 1;
    display: flex;
  }

  &-help{
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &-btn{
      color: #fff;
      font-size: 1.6rem;
      &:hover, &:visited, &:link, &:active{
        color: #fff;
      }
      width: 190px;
      height: 55px;
      background: rgba(99,161,234,0.8);
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        margin-right: 10px;
      }
    }
  }
}