.h-list-filter-container{
  position: relative;
  .h-list-filter-item{
    height:30px;
    padding:0 15px;
    background-color: #fff;
    line-height: 30px;
    border-top:1px solid #E6E6E6;
    border-bottom:1px solid #E6E6E6;
    &-wrapper{
      display: flex;
      justify-content: space-between;

    }
    &-search{
      display: flex;
      align-items: center;
      justify-content: center;
      &-img-def{
        height: 5px;
        width: 11px;
        margin-left: 6px;
      }
    }
    .search-default{
      color:#666;
    }
    .search-selected{
      color:#FF7F00;
    }
  }

  .h-list-item-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    &-bg{
      flex: 1;
      background: rgba(0,0,0,.4);
    }
  }


}




