@import "../baseVariable";
.they-will{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #E6E6E6;
  margin-bottom: 77px;

  &-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
    padding: 38px;
    width: 500px;
    @media (max-width: 992px){
      padding:38px 30px;
      width: 315px;
    }
    .font-24{
      font-size: 2.4rem;
      color: #4F4F4F;
      margin-top: 17px;
    }
  }
  &-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 28px;

    .font-14{
      font-size: 1.4rem;
      color: #999;
    }

    .they-will-btn{
      margin-top: 49px;
      font-size: 1.6rem;
      &-left{
        border-radius: 4px;
        height: 34px;
        margin-right: 40px;
      }
      &-right{
        height: 34px;
        border-radius: 4px;
      }
    }
  }

}